body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: "Overpass", san serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
}

.container-global,
.container-secondary {
  width: 375px;
  background: linear-gradient(
    to bottom left,
    hsl(213, 19%, 18%),
    hsl(216, 12%, 8%)
  );
  border: solid 1px hsl(213, 19%, 18%);
  border-radius: 20px;
  background-size: cover;
  background-position: left;
  text-align: left;
  padding: 60px;

  .bg-circle {
    width: 55px;
    height: 55px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .bg-circle img {
    width: 22px;
    height: 22px;
  }

  h1 {
    font-size: 2.2rem;
    color: hsl(0, 0%, 100%);
  }

  p {
    font-size: 1.5rem;
    color: hsl(217, 12%, 63%);
  }

  .container-global .box-buttons ul .container-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  .box-buttons ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }

  .circle-button {
    width: 60px;
    height: 60px;
    background-color: hsl(213, 19%, 18%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.7rem;
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    line-height: 32px;
  }

  .circle-button:hover {
    background: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
  }

  .circle-button.selected {
    background: hsl(0, 0%, 100%);
    color: hsl(216, 12%, 8%);
  }

  .button-send {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 25px 20px;
    background-color: hsl(25, 97%, 53%, 0.5);
    color: hsl(213, 19%, 18%);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
  }

  .button-send:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
  }

  .hidden {
    display: none;
  }
}

.container-secondary {
  display: none; /* para asegurarme que inicialmente esté oculto */
}

.container-secondary.visible {
  display: flex;
}

.container-secondary-centered {
  text-align: center !important;

  img {
    width: 250px;
    height: auto;
  }

  .container-solution {
    margin: 30px 60px;
    padding: 15px 25px;
    width: 60%;
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%, 0.5);
    text-align: center;
    border-radius: 60px;
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2.2rem;
    color: hsl(0, 0%, 100%);
  }

  p {
    font-size: 1.3rem;
    color: hsl(217, 12%, 63%);
  }
}
